body {
    background-color: rgb(104, 187, 189);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    margin-top: 0;
    padding-top: 0;
}
main section:last-child {
    background-color: rgb(121, 204, 206);
    border: 2px solid rgba(61, 60, 60, 0.767);
    border-radius: 10px;
    width: 798px;
    height: 450px;
    padding: 15px;
}
h1 {
    text-align: center;
    font-family: cursive;
    margin-top: 0;
    margin-bottom: 20px;
}
#styleSection {
    display: grid;
    grid-template-columns: 36.3% 27.3% 36.3%;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}
#styleSection aside {
    display: flex;
    gap: 10px;
    font-size: 22px;
}
#alignStyleField {
    margin: auto;
}
#tectDecorationField a, #alignStyleField a {
    color: black;
}
#inputFontSize {
    width: 40px;
    background-color: whitesmoke;
    border: 1px solid rgba(61, 60, 60, 0.767);
    border-radius: 5px;
    margin-left: auto;
    padding: 5px 0 5px 5px;
    font-weight: 700;
}
#inputFontColor {
    width: 45px;
    border: none;
    border-radius: 5px;
}
#inputStyleField a {
    text-decoration: none;
    color: black;
}

/*------------------------ Dropdown Button -------------------------*/
.dropbtn {
    background-color: rgb(121, 204, 206);
    color: black;
    padding: 0;
    font-family: sans-serif;
    font-size: 19px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d8d2d2;
    font-weight: 700;
    font-size: 16px;
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 6px 4px;
    text-decoration: none;
    display: block;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #b1a7a7;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*-----------------------------------------------------------------*/

div {
    width: 100%;
    height: 2px;
    background-color: rgba(61, 60, 60, 0.767);
    margin-bottom: 15px;
}
textarea {
    width: 795px;
    height: 385px;
    border: none;
    border-radius: 10px;
}
#rights {
    margin-top: 20px;
    margin-bottom: 0;
    color: black;
    font-family: monospace;
    font-size: 15px;
}
#rights a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
#rights a:hover {
    text-decoration: underline;
}

/*----------- media query for mobile -----------*/
@media only screen and (max-width: 720px) {
    body {
        padding: 5px;
        padding-top: 0;
    }
    main section:last-child {
        width: 325px;
        height: 610px;
        padding: 10px 15px 0 15px;
    }
    textarea {
        margin-top: 5px;
        width: 322px;
        height: 340px;
    }
    #styleSection {
        display: flex;
        padding-left: 35px;
        padding-right: 35px;
    }
    #styleSection aside {
        display: flex;
        gap: 10px;
        font-size: 20px;
    }
    #styleSection aside  {
        display: flex;
        flex-direction: column;
    }
}
